/* ==UserStyle==
@name        teddit-style
@description teddit-style, bit more old.reddit style
@match       https://teddit.net/*
==/UserStyle== */

footer,
#intro {
    display: none;
}

header {
    background-color: #cee3f8;
    border-bottom: 1px solid #5f99cf;
}

header .tabmenu {
    margin-top: 5px;
}

header a {
    color: #369;
}

header .tabmenu li a {
    padding: 2px 6px 0 6px;
    background-color: #eff7ff;
    color: #369;
}

header .tabmenu li.active a {
    color: orangered;
    border: 1px solid #5f99cf;
    background-color: white;
    border-bottom: 1px solid white;
}
