/* ==UserStyle==
@name        xenforo-style
@description xenforo style
@match       *://forums.spacebattles.com/*
@match       *://forums.sufficientvelocity.com/*
@match       *://forum.questionablequesting.com/*
==/UserStyle== */

.bbCodePreview-content,
.bbWrapper,
.bbWrapper span,
.fr-box.fr-basic .fr-element,
.fr-box.fr-basic textarea.input,
.messageText,
.message-body .bbCodeBlock.bbCodeBlock-content,
.message-body {
  font-family: 'Bookerly' !important;
  font-size: 18px !important;
  letter-spacing: 0;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.p-pageWrapper {
  background-color: #000;
}

.p-body-inner {
  padding-left: max(10px, env(safe-area-inset-left));
  padding-right: max(10px, env(safe-area-inset-right));
  margin: 0 auto;
}

.block--messages .message,
.block--messages .block-row {
  background-color: rgb(26, 31, 44);
  border-top-color: #374e72;
  border-right-color: #415c87;
  border-bottom-color: #496898;
  border-left-color: #415c87;
}

.messageContent,
.message-body {
  margin: auto 10%;
}

.structItem-title,
.structItem-title a,
.structItem-cell {
  color: #0f0;
}

a.unreadLink {
  display: none !important;
}

.samCodeUnit.samAlignCenter,
.tooltip.tooltip--basic.tooltip--bottom.tooltip--selectToQuote,
#QuoteSelected,
.message-cell--user,
.AdContainer {
  display: none !important;
}

html.stickyNav, html.stickyNav body {
  scroll-padding-top: 0;
}

.p-navSticky.is-sticky,
.p-navSticky {
  position: relative !important;
}
